

@font-face {
  font-family: "ChineseTakeaway";
  src: url("../fonts/ChineseTakeaway.ttf");
}
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RagingRedLotusBB";
  src: url("../fonts/RagingRedLotusBB.ttf");
}
@font-face {
  font-family: "PokemonSolid";
  src: url("../fonts/PokemonSolid.ttf");
}
@font-face {
  font-family: "Adelia";
  src: url("../fonts/Adelia.otf");
}

body{
  
  font-family: 'JosefinSans', sans-serif!important;
    height: 100vh;
}
canvas {
	border: 1px solid black;
	margin-top: 2vh;
  	z-index: 0;
      align-self: left;
}

.play-guide {
	margin: 5%;
}
nav.header{
    height:10%;
}
div.main {
    height: 80%;
}
footer{
    height: 10%;
}
a.navbar-brand{
    height: 100%;
}
img.logo{
    height: 100%;
    width: auto;
}
.main{
    display: flex;
}
.main .play{
    justify-content: start;
    width: 75%;
}
.main .chat{
    position:relative;
    width: 25%;
    padding: 10px;
}
.main .chat .msg{
    height: 95%;
    overflow-y: scroll;
}
.main .chat .submitChat{
    height: 5%;
    border-top: 2px solid rgba(0,0,0,0.5);
    display: flex;
justify-content: center;
align-items: baseline;
padding-top: 5px;
}
.main .chat .submitChat #send{
    width: 85%;
    border: none;
    height: 100%;

}
#msgHistory {
    padding-left: 0px;
    list-style: none;

}
#msgHistory li{
    margin-bottom: 3px;
    font-size: 16px;
}
.gamebutton:hover{
  color: #00C851;
  background-color: #00C851;
}
#emojis{
    position: relative;
    top: -25%;
    z-index: 999;
    height: 20%;
}
#drawer{
    background-color: white;
display: flex;
border: 1px solid grey;
flex-wrap: wrap;
overflow-y: scroll;
height: 100%;
}
#drawer div{
    margin: 10px;
    cursor: pointer;
    width: 20%;
}

#emojiSelecter{
    width: 50px;
	height: 50px;
	cursor: pointer;
	background-image: linear-gradient(315deg, #5de674 0%, #32952b 74%);
	border: none;
	border-radius: 50%;
}
a.navbar-brand{
  width:30%
}
div.navbar-collapse{
  width:60%;
}
#emojiSelecter img{
    width: 100%;

}

ul.navbar-nav{
  width:100%

}
ul.navbar-nav li.button{
  width:40%
}
ul.index{
  justify-content: end;
}
ul.navbar-nav li.user{
  color:whitesmoke;
  width:20%;
  
  font-family: 'JosefinSans', sans-serif;
  font-weight: 900;
  font-size: 3rem;

}

ul li.nav-item{
  display: flex;
justify-content: center;
align-items: center;
}
.errorregister,
.errorlogin{
  color:red;
  margin-bottom: 5px;
}


/*---------------------leaderboard*/


.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
  color: #2E2E2E;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.purple-border {
  border: 1px solid #9e9e9e;
}
.input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
  border: 1px solid #ba68c8;
  box-shadow: none;
}
.form-2 .input-group-addon {
  border: 1px solid #ba68c8;
}
.success-text {
  color: #00C851; 
}
.table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
  border: 1px solid #ff3547!important;
}        
.table.table-bordered th {
  text-align: center;
}







/*---------------------------------BUTONS-----------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

*, :after, :before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
}
button.button.striped-shadow a {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}
button.button.striped-shadow.white a {
  border-color: #fff;
  color: #fff;
  background: #77bfa1;
}

.button.striped-shadow.blue a {
  border-color: #4183D7;
  background: #77bfa1;
  color: #4183D7;
}
button.button.striped-shadow.dark a {
  border-color: #393939;
  background: #77bfa1;
  color: #393939;
}

button.button {
  font-family: 'JosefinSans', sans-serif;
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

button.button {
  width: 60%;
  height: 50%;
  line-height: 38px;
}

button.button.striped-shadow.white:after, button.button.striped-shadow.white:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #fff 5px,
    #fff 10px,
    transparent 10px
  );
}

button.button.striped-shadow.blue:after, button.button.striped-shadow.blue:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #4183D7 5px,
    #4183D7 10px,
    transparent 10px
  );
}

button.button.striped-shadow.dark:after, button.button.striped-shadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #393939 5px,
    #393939 10px,
    transparent 10px
  );
}

button.button.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

button.button.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.button.striped-shadow:after, button.button.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

button.button.striped-shadow:hover,
button.active {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.button.striped-shadow:hover:after, button.button.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.button.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}
button.active:after, button.active:before{
  content:none!important;
}
