body{
    height: 100vh;
}
canvas {
	border: 1px solid black;
	margin-top: 2vh;
  	z-index: 0;
      height: 95%;
}

.play-guide {
	margin: 5%;
}
nav.header{
    height:10%;
}
div.main {
    height: 80%;
}
footer{
    height: 10%;
}


@font-face {
    font-family: "ChineseTakeaway";
    src: url("../fonts/ChineseTakeaway.ttf");
}

@font-face {
    font-family: "RagingRedLotusBB";
    src: url("../fonts/RagingRedLotusBB.ttf");
}
@font-face {
    font-family: "PokemonSolid";
    src: url("../fonts/PokemonSolid.ttf");
}
